
p
  margin: 0

.body
  display: flex
  flex-flow: column nowrap
  justify-content: center
  width: 640px
  height: 360px
  margin: 0
  padding: 0

.body.start
  .table
    margin-top: 20px
    .table-center
      margin: 0 20px

.navbar
  h1
    text-align: center
    margin: 8px
    font-size: 32px - 4px
    padding: 2px

.footer
  margin-top: auto
  padding: 4px
  text-align: right

  &.submit-buttons
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: flex-end
    height: 30px


.table
  display: flex
  flex-flow: column nowrap
  justify-content: center
  height: 280px
  margin: 0

  .table-row
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    margin: 10px 0

  .table-left,
  .table-right
    display: flex
    flex-direction: column
    justify-content: center

.info-frame
  display: flex
  flex-flow: column nowrap
  justify-content: center

  width: 110px
  height: 110px
  padding: 5px
  border: thin solid #8c8
  border-radius: 4px

.main-button
  font-size: 24px
  width: 160px
  height: 100px

.info-text
  width: 100%
  text-align: center
  margin: 0
  font-size: 20px
  &.kyoku
    font-size: 24px
    font-weight: bold

.dog-ear
  position: absolute
  right: 0
  bottom: 0

  button
    border-radius: 20px 0 0 0
    width: 100px
    height: 50px

.menu-button
  position: absolute
  right: 0
  top: 0

.kyoutaku
  margin-top: auto
  text-align: center

.score-board
  border: thin solid #8c8
  border-radius: 4px
  display: flex
  flex-flow: row nowrap
  align-items: center

  .seat
    width: 32px
    text-align: center
    font-size: 24px
    margin: 5px 10px
    .current_oya
      font-weight: bold
      border: thin solid #46b8da
      border-radius: 6px
      background-color: #5bc0de

  .score
    // margin: 5px
    p
      margin: 0
    .score-score 
      width: 110px
      text-align: right
      font-size: 32px
      font-weight: bold
    .score-chip
      padding-left: 70px
  .agari-button
    margin: 5px
    .btn
      width: 70px
      height: 50px

.ui-buttons
  width: 460px
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  margin-top: 10px

  button
    width: 100px
    &.reach-button
      width: 200px

.reach-image
  display: inline-block
  width: 57px
  height: 8px
  background: image-url('reach.png') no-repeat center center

  .kyoutaku &
    height: 20px

.reach-image-vert
  display: inline-block
  width: 8px
  height: 57px
  background: image-url('reach-v.png') no-repeat center center

.reach-block
  height: 8px + 8px
  text-align: center
  display: flex
  justify-content: center
  align-items: center

.reach-block-vert
  margin: 4px
  width: 8px
  text-align: center
  display: flex
  justify-content: center
  align-items: center

.ryukyoku-dialog
  margin-left: 20px

  .tenpai
    margin-bottom: 10px
    display: flex
    flex-flow: row nowrap
    justify-content: flex-start

    button
      width: 250px
      height: 100px
      margin: 0 15px

  .other
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    margin-left: 5px
    margin-top: 15px

    button
      margin: 5px 10px
      width: 160px
      height: 50px

.body.score-result
  .info-frame
    display: flex
    flex-flow: column nowrap
    justify-content: center
    
    width: 140px
    height: 60px

    .kyoutaku
      display: flex
      flex-flow: row nowrap
      justify-content: center
      margin: 0

  .score
    display: flex
    flex-flow: column nowrap
    justify-content: center

    border: thin solid #8c8
    border-radius: 4px
    width: 200px
    padding: 5px 10px
    margin: 0 20px

    .score-row
      display: flex
      flex-flow: row nowrap
      justify-content: center

      .score-score
        width: 80px
        font-size: 24px
        font-weight: bold
        text-align: right
      .score-diff
        margin-left: 5px
        width: 90px
        font-size: 24px
        font-weight: bold

      .score-chip
        width: 80px
        text-align: right
      .score-chip-diff
        margin-left: 5px
        width: 90px

.agari
  .han-tabs
    display: flex
    justify-content: space-between
    margin: 0 10px 5px

    .han-button
      display: block
      width: 100px
      height: 40px
  .body-inner
    display: flex
    justify-content: space-between

  .scroller
    display: block
    position: absolute
    z-index: 9999
    &.up
      top: -20px
    &.down
      bottom: -20px
  

  .scores
    width: 480px
    margin: 0 5px 0 15px
    .scroller-wrapper
      position: relative
      margin-top: 20px
    .scroller
      position: absolute
      left: 250px

  .scores-scroller
    border: thin solid #000
    border-radius: 4px
    height: 180px
    overflow-y: scroll
    overflow-x: hidden
  .scores-inner
    display: flex
    flex-flow: row wrap
    width: 480px
    justify-content: flex-start
    padding: 5px

  .score-button
    width: 145px
    height: 70px
    margin: 5px
    font-size: 18px
    .score-score
      font-weight: bold


  .chips
    width: 125px
    margin-right: 5px
    .scroller-wrapper
      position: relative
      margin-top: 5px
    .scroller
      left: 10px

  .chips-label
    text-align: center
    font-weight: bold
    font-size: 16px

  .chips-scroller
    overflow-y: scroll
    overflow-x: hidden
    height: 160px
    border: thin solid #000
    border-radius: 4px
  .chips-inner
    display: flex
    width: 100%
    flex-flow: row wrap
    justify-content: space-around
    align-items: center
    padding: 0 5px 5px
  .chip-button
    display: block
    width: 50px
    height: 40px
    margin: 5px 2px 0

.game-end
  .table
    display: flex
    flex-flow: row nowrap
  .table-col
    width: 200px
    display: flex
    flex-flow: column nowrap
    justify-content: center

  .result-frame
    border: thin solid #8c8
    border-radius: 4px
    margin: 5px
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center

    .rank
      text-align: center
      font-size: 24px
      font-weight: bold
    .score
      text-align: right
      font-size: 18px
    .chip
      text-align: right
      font-size: 18px
    .pt
      text-align: center
      font-size: 24px
      font-weight: bold

.menu-body
  padding: 10px

  .btn
    width: 150px
    height: 50px
    margin: 10px

