<!DOCTYPE html>
<html>
  <head>
    <title>JlController</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=640,user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    controller.controller_name, media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag controller.controller_name %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
